<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lists</key>
	<array>
		<dict>
			<key>comment</key>
			<string>当前闹钟完成后，自动激活下一个闹钟。</string>
			<key>name</key>
			<string>自动激活下个闹钟</string>
		</dict>
		<dict>
			<key>comment</key>
			<string>打开状态时为顺序闹钟(依次激活闹钟)，关闭时为并发闹钟(所有闹钟同时启动)</string>
			<key>name</key>
			<string>默认新建闹钟时间</string>
		</dict>
	</array>
	<key>version</key>
	<array>
		<dict>
			<key>comment</key>
			<string>当前版本号</string>
			<key>name</key>
			<string>版本</string>
		</dict>
		<dict>
			<key>comment</key>
			<string>本app简要操作介绍</string>
			<key>name</key>
			<string>帮助</string>
		</dict>
	</array>
</dict>
</plist>
