<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lists</key>
	<array>
		<string>Piano</string>
		<string>Guitar</string>
		<string>Cow</string>
		<string>ElectricAlarm</string>
	</array>
</dict>
</plist>
