<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Cooking</key>
	<dict>
		<key>Cook Fish</key>
		<array>
			<dict>
				<key>timer</key>
				<integer>300</integer>
				<key>type</key>
				<string>大火</string>
			</dict>
			<dict>
				<key>timer</key>
				<integer>900</integer>
				<key>type</key>
				<string>小火</string>
			</dict>
			<dict>
				<key>timer</key>
				<integer>180</integer>
				<key>type</key>
				<string>煨</string>
			</dict>
			<dict>
				<key>timer</key>
				<integer>60</integer>
				<key>type</key>
				<string>开锅装盘</string>
			</dict>
		</array>
		<key>Cook Noodle</key>
		<array>
			<dict>
				<key>timer</key>
				<integer>300</integer>
				<key>type</key>
				<string>大火</string>
			</dict>
			<dict>
				<key>timer</key>
				<integer>800</integer>
				<key>type</key>
				<string>小火</string>
			</dict>
		</array>
	</dict>
	<key>lists</key>
	<array>
		<dict>
			<key>lists</key>
			<array>
				<dict>
					<key>contents</key>
					<array>
						<dict>
							<key>sound</key>
							<integer>0</integer>
							<key>timer</key>
							<integer>300</integer>
							<key>title</key>
							<string>大火</string>
							<key>type</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>sound</key>
							<integer>0</integer>
							<key>timer</key>
							<integer>900</integer>
							<key>title</key>
							<string>小火</string>
							<key>type</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>sound</key>
							<integer>0</integer>
							<key>timer</key>
							<integer>180</integer>
							<key>title</key>
							<string>煨</string>
							<key>type</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>sound</key>
							<integer>0</integer>
							<key>timer</key>
							<integer>60</integer>
							<key>title</key>
							<string>开锅装盘</string>
							<key>type</key>
							<integer>0</integer>
						</dict>
					</array>
					<key>name</key>
					<string>Braised fish with soy sauce</string>
				</dict>
				<dict>
					<key>contents</key>
					<array>
						<dict>
							<key>sound</key>
							<integer>0</integer>
							<key>timer</key>
							<integer>300</integer>
							<key>title</key>
							<string>大火</string>
							<key>type</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>sound</key>
							<integer>0</integer>
							<key>timer</key>
							<integer>900</integer>
							<key>title</key>
							<string>小火</string>
							<key>type</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>sound</key>
							<integer>0</integer>
							<key>timer</key>
							<integer>180</integer>
							<key>title</key>
							<string>煨</string>
							<key>type</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>sound</key>
							<integer>0</integer>
							<key>timer</key>
							<integer>60</integer>
							<key>title</key>
							<string>开锅装盘</string>
							<key>type</key>
							<integer>0</integer>
						</dict>
					</array>
					<key>name</key>
					<string>Make Pie</string>
				</dict>
			</array>
			<key>name</key>
			<string>Cooking</string>
		</dict>
		<dict>
			<key>lists</key>
			<array>
				<dict>
					<key>contents</key>
					<array>
						<dict>
							<key>sound</key>
							<integer>0</integer>
							<key>timer</key>
							<integer>300</integer>
							<key>title</key>
							<string>大火</string>
							<key>type</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>sound</key>
							<integer>0</integer>
							<key>timer</key>
							<integer>900</integer>
							<key>title</key>
							<string>小火</string>
							<key>type</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>sound</key>
							<integer>0</integer>
							<key>timer</key>
							<integer>180</integer>
							<key>title</key>
							<string>煨</string>
							<key>type</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>sound</key>
							<integer>0</integer>
							<key>timer</key>
							<integer>60</integer>
							<key>title</key>
							<string>开锅装盘</string>
							<key>type</key>
							<integer>0</integer>
						</dict>
					</array>
					<key>name</key>
					<string>Tea</string>
				</dict>
				<dict>
					<key>contents</key>
					<array>
						<dict>
							<key>sound</key>
							<integer>0</integer>
							<key>timer</key>
							<integer>300</integer>
							<key>title</key>
							<string>大火</string>
							<key>type</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>sound</key>
							<integer>0</integer>
							<key>timer</key>
							<integer>900</integer>
							<key>title</key>
							<string>小火</string>
							<key>type</key>
							<integer>0</integer>
						</dict>
					</array>
					<key>name</key>
					<string>Coffee</string>
				</dict>
			</array>
			<key>name</key>
			<string>Tea/Coffee</string>
		</dict>
	</array>
	<key>Tea</key>
	<dict>
		<key>Make Tea</key>
		<array>
			<dict>
				<key>timer</key>
				<integer>300</integer>
				<key>type</key>
				<string>大火</string>
			</dict>
			<dict>
				<key>timer</key>
				<integer>180</integer>
				<key>type</key>
				<string>煨</string>
			</dict>
			<dict>
				<key>timer</key>
				<integer>60</integer>
				<key>type</key>
				<string>开锅装盘</string>
			</dict>
		</array>
	</dict>
	<key>TV</key>
	<dict>
		<key>Adv Timer</key>
		<array>
			<dict>
				<key>timer</key>
				<integer>300</integer>
				<key>type</key>
				<string>广告插播</string>
			</dict>
			<dict>
				<key>timer</key>
				<integer>1200</integer>
				<key>type</key>
				<string>正常节目</string>
			</dict>
			<dict>
				<key>timer</key>
				<integer>300</integer>
				<key>type</key>
				<string>广告插播</string>
			</dict>
			<dict>
				<key>timer</key>
				<integer>1200</integer>
				<key>type</key>
				<string>正常节目</string>
			</dict>
			<dict>
				<key>timer</key>
				<integer>300</integer>
				<key>type</key>
				<string>广告插播</string>
			</dict>
			<dict>
				<key>timer</key>
				<integer>1200</integer>
				<key>type</key>
				<string>正常节目</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
