<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lists</key>
	<array>
		<dict>
			<key>comment</key>
			<string>Active the next which is only &apos;Ready&apos; status.</string>
			<key>name</key>
			<string>Active Next Timer</string>
		</dict>
		<dict>
			<key>comment</key>
			<string>Make the default timer template.</string>
			<key>name</key>
			<string>Timer Template</string>
		</dict>
	</array>
	<key>version</key>
	<array>
		<dict>
			<key>comment</key>
			<string>Current App Version</string>
			<key>name</key>
			<string>Version</string>
		</dict>
		<dict>
			<key>comment</key>
			<string>Help documents</string>
			<key>name</key>
			<string>Help</string>
		</dict>
	</array>
</dict>
</plist>
